/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Forms
  #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
  body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }

  .section_title {
    margin-bottom: 50px;
    font-weight: 300;
  }

  .title {
    text-transform:uppercase;
    position:relative;
    display:inline-block;
    margin-bottom:30px;
    font-family: "proxima-nova";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .title:after {
    border-bottom: 1px solid #000000;
    content: "";
    display: block;
    position: relative;
    top: 15px;
    width: 20px;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 100;
    line-height: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit;}
  h1 { font-family: "proxima-nova"; font-size: 46px; margin-bottom: 14px;}
  h2 { font-size: 35px; margin-bottom: 10px; }
  h3 { font-size: 28px; margin-bottom: 8px; }
  h4 { font-size: 21px; margin-bottom: 4px; }
  h5 { font-size: 17px; }
  h6 { font-size: 14px; }
  .subheader { color: #777; }

  p { margin: 0 0 20px 0; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #777;  }

  em { font-style: italic; }
  strong { font-weight: bold; color: #333; }
  small { font-size: 80%; }

/*  Blockquotes  */
  blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  blockquote cite { display: block; font-size: 12px; color: #555; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
  a, a:visited { color: #333; text-decoration: none; outline: 0; }
  a:hover, a:focus { color: #000; }
  p a, p a:visited { line-height: inherit; }

  a,.errorForm {
    color:#111111;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  a.read_more {
    color: #E36B5D;
    cursor: pointer;
    font-family: "proxima-nova";
    font-size: 14px;
    font-weight: 700;
    padding: 18px 20px;
    text-transform: uppercase;
    min-width: 200px;
    display: inline-block;
  }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; }
  ul { list-style: none outside; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */

  button {
    background: transparent;
    border: 2px solid #E36B5D;
    border-radius: 2px;
    color: #E36B5D;
    cursor: pointer;
    font-family: "proxima-nova";
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: 18px 20px;
    text-transform: uppercase;
    min-width: 200px;
  }

  button:hover {
    background: #E36B5D;
    color: #ffffff;
  }

/* #Forms
================================================== */

  form {
    margin-bottom: 20px; }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
  select {
    padding: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Misc
================================================== */
  .remove-bottom {
    margin-bottom: 0 !important;
  }

  .half-bottom {
    margin-bottom: 10px !important;
  }

  .add-bottom {
    margin-bottom: 20px !important;
  }

  .offset {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .section {
    text-align:center;
  }


/*About*/
div.about p {
  color:#999;
  font-family: georgia, palatino, baskerville, times, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  width: 640px;
}

div.about button {
  border:0;
  margin-top: 50px;
  padding:0;
}
div.about button:hover{
  background:none;
  color:#bf963d;
}

div.about #face-image {
  background-image: url(../images/face.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 260px;
  margin: 26px 0;
  width: 180px;
}
/*About*/

/*Work*/
section.work {

}

section.work .work_link {
}

section.work .work_link .work_content {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 33.333333333333333333%;
  float: left;
  background-color: #f4f4f4;
}

section.work .work_link .work_image {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  transition: all 0.2s linear;
}

section.work .work_link .overlay_color {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opactiy=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: -webkit-opacity 0.2s 0s;
  -moz-transition: -moz-opacity 0.2s 0s;
  -ie-transition: -moz-opacity 0.2s 0s;
  -o-transition: -o-opacity 0.2s 0s;
  transition: opacity 0.2s 0s;
}

section.work .work_link:hover .overlay_color {
  opacity: .75;
}

section.work .work_link .overlay_content {
  width: 100%;
  height: 135px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}

section.work .work_link .overlay_content h3, section.work .work_link .overlay_content h5 {
  color: white;
  opacity: 0;
  margin-top: 20px;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opactiy=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  font-weight: 700;
}

section.work .work_link .overlay_content h5 {
  font-weight: 300;
  margin-top: 20px;
  -webkit-transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

section.work .work_link:hover .overlay_content h3, section.work .work_link:hover .overlay_content h5 {
  opacity: 1;
  margin-top: 0;
}

section.work .button {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 66px;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opactiy=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.1s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.1s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.1s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.1s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.1s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

section.work .work_link:hover .button {
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opactiy=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  margin-top: 20px;
  -webkit-transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

section.work .work_link:hover .button .arrow {
  width: 17px;
  height: 1px;
  background: white;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

section.work .work_link:hover .button .arrow .tip {
  position: absolute;
  right: 0;
  width: 4px;
  height: 4px;
  border: 0px solid white;
  top: -2px;
  border-right-width: 1px;
  border-top-width: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45))";
  zoom: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

  section.work .work_link .button h6 {
    text-transform: uppercase;
    bottom: -15px;
    position: absolute;
    font-weight: 400;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opactiy=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: white;
    right: 0;
    left: 0;
    -webkit-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.2s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  section.work .work_link .button:hover h6 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opactiy=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    bottom: -32px;
    -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

/*Work*/

/*Who*/
section.who {
  background-color: #f6f6f6;
}

div.who {
}

div.who img {
  border: none;
  border-radius: 2px;
  height:260px;
  margin-bottom:25px;
  opacity:1;
  width:260px;
}

div.who h2 {
  text-align: center;
  font-size: 18px;
  font-family: "proxima-nova";
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0px;
  padding-bottom: 18px;
}

div.who h2 span {
  color: #be953d;
  font-family: georgia, palatino, baskerville, times, serif;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 10px;
}

div.who p {
  border-top: 1px solid #cccccc;
  font-family: georgia, palatino, baskerville, times, serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 20px;
  width: 260px;
}

.who .arrow {
  bottom: 30px;
  height: 15px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.who .arrow a {
  background-image: url(../images/arrow-bottom-who.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 15px;
  margin: 0px auto;
  opacity: 0.5;
  text-indent: -9999px;
  width: 28px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.who .arrow a:hover {
  opacity: 1;
}
/*who*/

/*Instagram*/

#instagram #instafeed {}

#instagram #instafeed li {
  float: left;
  width: 25%;
}

#instagram #instafeed li, #instagram #instafeed li a {
  display: block;
}

#instagram #instafeed li a img {
  width: 80%;
}

/*instagram*/


/*Contact*/
section.contact {
  background-attachment: fixed;
  background-color:#fafafa;
  background-image: url(../images/plans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section.contact .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

section.contact .title {
  color: #ffffff;
}

section.contact .title:after {
  border-bottom: 2px solid #ffffff;
}

div.contact .form {
    margin: 20px auto 10px;
    width: 580px;
}

div.contact-info {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.60) !important;
  padding: 45px 0px !important;
}

div.contact-info p {
  color: #ffffff;
  font-family: "QuickSand";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 26px;
}

.form input[type="text"], .form input[type="email"], .form input[type="number"], .form textarea {
  background: transparent;
  border: 2px solid #999999;
  border-radius: 2px;
  color: #999999;
  font-family: "proxima-nova";
  font-size: 14px;
    height: 50px;
    margin-bottom: 16px;
    outline-width: 0;
    padding: 0px 20px;
    width: 550px;
    -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}


.form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form textarea:focus {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.form input[type="text"] {
    height: 50px;
}

.form input[type="text"]::-webkit-input-placeholder { color: #aaaaaa; }
.form input[type="text"]::-moz-placeholder { color: #aaaaaa; }
.form input[type="text"]:-ms-input-placeholder { color: #aaaaaa; }
.form input[type="text"]:-moz-placeholder { color: #aaaaaa; }

.form textarea {
    height: 170px;
    overflow: auto;
    padding-top: 16px;
    resize: none;
}

.form button {
    margin-top: 40px;
}

#success, #error {
    display: none;
    position: relative;
    margin-top: 30px;
}

#success h2 {
    color: #3da430;
}

#error h2 {
    color: #CE3D3D;
}

.form-error {
    border: 2px solid #da4856 !important;
}
/*Contact*/




/*Footer*/
.footer.offset {
  padding-bottom:0;
}

div.footer {
  background-color: #111111;
  padding: 40px 0 90px;
}

div.footer .arrow {
  padding-bottom: 30px;
}

div.footer .arrow a {
  background-image: url(../images/arrow-top.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 15px;
  margin: 0px auto 20px;
  opacity: 0.5;
  text-indent: -9999px;
  width: 28px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

div.footer .arrow a:hover {
  opacity: 1;
}

div.footer .footer-logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 45px;
  position:relative;
  width: 130px;
}

div.footer .footer-slogan {
  color:#6c6c6c;
  font-family: "proxima-nova";
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
  position:relative;
}

div.footer .right {
  text-align: right;
}

div.footer .social { margin-top: 18px; }

div.footer .right li {
  background-color: transparent;
  border: 2px solid #444444;
  border-radius: 9999px;
  color: #444444;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  margin-left: 20px;
  padding: 12px 17px 10px;
}

div.footer .right li:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #000000;
}

div.footer .right li i {
}
/*Footer*/


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:660px) {

  input, textarea {
    -webkit-appearance: none;
  }

  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    overflow-x: hidden;
  }

  #wrapper {
    overflow: hidden;
  }

  /*--masthead--*/
  .masthead h1 {
    font-size: 36px;
  }

  .masthead p {
    font-size: 14px;
  }

  /*--masthead--*/


  /*--About--*/
  div.about p {
    width: 300px;
  }
  /*--About--*/

  /*--Nav--*/
  .logo {
    margin: 23px 10px;
  }

  nav#navigation {
    float:none;
    margin-right:0;
  }

  nav#navigation ul {
    display:none;
    margin-bottom:20px;
  }

  nav#navigation li {
    float:none;
    display:block;
  }

  nav#navigation a.active:after {
    right:1px;
    top:22px;
  }

  nav#navigation li a {
    display:inline-block;
  }

  nav#navigation a:after {
    opacity: 0;
  }

  .mobile-navigation {
    display: inline-block;
  }
  /*--Nav--*/

  /*Work*/
  section.work .work_link .work_content {
    width: 50%;
  }

  /*Contact*/
  section.contact {
    background-attachment: scroll;
    background-position: center center !important;
    background-repeat: repeat;
    background-size: cover;
  }

  div.contact .form {
    width:100%;
  }

  div.form textarea, div.form form, div.form input[type="text"] {
    padding: 10px 10px;
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
  }
  /*Contact*/

  /*Instagram*/

  #instagram #instafeed li {
    width: 50%;
  }

  /*Footer*/
  div.footer {
    display: none;
  }
  /*Footer*/

}

