/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:660px) {

  input, textarea {
    -webkit-appearance: none;
  }

  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    overflow-x: hidden;
  }

  #wrapper {
    overflow: hidden;
  }

  /*--masthead--*/
  .masthead h1 {
    font-size: 36px;
  }

  .masthead p {
    font-size: 14px;
  }

  /*--masthead--*/


  /*--About--*/
  div.about p {
    width: 300px;
  }
  /*--About--*/

  /*--Nav--*/
  .logo {
    margin: 23px 10px;
  }

  nav#navigation {
    float:none;
    margin-right:0;
  }

  nav#navigation ul {
    display:none;
    margin-bottom:20px;
  }

  nav#navigation li {
    float:none;
    display:block;
  }

  nav#navigation a.active:after {
    right:1px;
    top:22px;
  }

  nav#navigation li a {
    display:inline-block;
  }

  nav#navigation a:after {
    opacity: 0;
  }

  .mobile-navigation {
    display: inline-block;
  }
  /*--Nav--*/

  /*Work*/
  section.work .work_link {
    width: 50%;
  }

  /*Contact*/
  section.contact {
    background-attachment: scroll;
    background-position: center center !important;
    background-repeat: repeat;
    background-size: cover;
  }

  div.contact .form {
    width:100%;
  }

  div.form textarea, div.form form, div.form input[type="text"] {
    padding: 10px 10px;
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
  }
  /*Contact*/

  /*Instagram*/

  #instagram #instafeed li {
    width: 50%;
  }

  /*Footer*/
  div.footer {
    display: none;
  }
  /*Footer*/

}
